<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜谱</title>
    <style>
        .all {
            margin-top: 30px;
        }
        .xh {
            float: left;
            margin-right: 20px;
            color: red;
            font-style: italic;
            font-size: 30px;
        }
        #menu {
            width: 500px;
        }
        #more{
            cursor: pointer;
        }
    </style>
    <script src="jquery-2.2.0.js"></script>
    <script src="template-native-debug.js"></script>
    <script type="text/javascript">
        $(function(){
            var btn=$('#btnSearch');
            btn.click(function(){
                queryAjax(setUrl());
            });

            var more=$('#more');
            more.click(function(){
                queryAjax(setUrl());
            });
        });
        function setUrl(){
            var pn=$('#last').val();
            var txt=$('#txtSearch').val();
            var url='http://apis.juhe.cn/cook/query?key=0118ef0987f236b107e4ba8254247a5e&menu=%E8%A5%BF%E7%BA%A2%E6%9F%BF&rn=1&pn='+ pn +'&dtype=jsonp&menu='+txt;
            return url;
        };
        function queryAjax(url){
            var menu=$('#menu')
            //menu.text('正在加载...');
            $.ajax({
                type:'get',
                dataType:'jsonp',
                url:url,
                success:function(data){
                    /*menu.text('');*/
                    if(data == 1){
                        $('#more').html('没有更多菜品!').unbind('click');
                        return false;
                    };
                    if(data.resultcode==200){
                        // console.log(data.result.data.length);
                        var html = template("tpl",data.result);
                        menu.html(menu.html()+html);
                    }else{
                        menu.text('未找到相关菜谱');
                    }

                    var now = parseInt($('#last').val()) + 3;
                    $('#last').val(now);

                    $('#more').show();
                },
                error:function(){
                    menu.text('错误');
                }
            });
        };
    </script>
    <script id="tpl" type="text/html">
        <% for(var i=0;i<data.length;i++){ %>
            <div class="all">
                <h2>菜名：<%= data[i].title %></h2>
                <p>介绍：<%=  data[i].imtro %></p>
                <% for(var j=0; j< data[i].albums.length; j++)  { %>
                    <img src="<%= data[i].albums[j] %>">
                <% } %>
                <p class="zl">主料：<%= data[i].ingredients %></p>
                <p class="fl">辅料：<%= data[i].burden %></p>
                <div class="steps">
                    <% for(var k=0; k< data[i].steps.length; k++) { %>
                        <div class="c">
                            <p><%= data[i].steps[k].step %></p>
                            <p><img src="<%= data[i].steps[k].img %>"></p>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>
    </script>
</head>
<body>
<input type="text"  id="txtSearch"> <input type="button" value="搜索" id="btnSearch">

<div id="menu">
</div>
<div style="display: none;" id="more">加载更多...</div>
<input type="hidden" id="last" value="0">
</div>
</body>
</html>